SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/pwr low"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/pwr high"
